input {
  height: 2.5rem;
  font-size: 1rem;
  text-align: left;
  width: 50%;
  margin-left: 20%;
}

.search {
  margin-top: 4rem;
  margin-bottom: 2rem;
  align-items: center;
}

button {
    margin-left: 20px;
    font-size: 14pt;
}




