<p class="text-center text-muted" *ngIf="!fotos.length">
  Nenhuma foto disponível
</p>

<ol class="list-unstyled">
  <li *ngFor="let cols of rows" class="row no-gutters p-0">
    <div *ngFor="let foto of cols" class="col-4" apDarkenOnHover>
      <a [routerLink]="['/p', foto.id]">
        <app-card>
          <app-foto [url]="foto.thumbnailUrl" [title]="foto.title"> </app-foto>
          <div class="text-center p-1">
            <mat-card-actions>
                <button mat-button><i class="material-icons">favorite_border</i></button>
                <button mat-button><i class="material-icons">chat_bubble</i></button>
            </mat-card-actions>
          </div>
        </app-card>
      </a>
    </div>
  </li>
</ol>
